<html>
  <body>
    <p>Hi {{name}},</p>
    <p>A
      <a href='{{link}}'>material</a>
      has been
      {{#if isUpdate}}updated{{else}}posted{{/if}}
      in
      {{courseName}}</p>
  </body>
</html>