.attachFilesContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.fileBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.uploadFileLabel {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
