.homeTaskCourseContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.homeSectionContainer {
  width: calc(50% - 1rem);
}

.homeGreetingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
  .homeSectionContainer {
    width: 100%;
  }
  .homeGreetingContainer {
    justify-content: center;
    margin-bottom: 2rem;
  }
  .homeGreeting {
    width: 100%;
    text-align: center;
  }
}

.homeGreeting {
  font-size: var(--mediumHeading);
  font-weight: bold;
  margin: 0;
  color: var(--heading);
}

.homeColumnHeading {
  font-size: var(--smallSubheading);
  margin-bottom: 10px;
}

.homeSubheading {
  font-size: var(--smallSubheading);
  margin-right: 50px;
}

.homeEmpty {
  width: 100%;
  padding: 3rem 0;
  font-weight: bold;
  text-align: center;
  color: var(--heading);
  font-size: var(--mediumSubheading);
}
