.resetContainer {
  height: calc(100vh - var(--navHeight));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.infoContainer {
  text-align: center;
  font-size: var(--smallSubheading);
  width: 50%;
}

.toodlesTitle {
  color: #2e005f;
  font-family: 'MuseoModerno', cursive;
  font-size: var(--mediumHeading);
  margin: 0;
}

.textField {
  width: 12.5rem;
}
