.pageHeading {
  font-size: var(--smallHeading);
  margin: 0;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 1.5rem;
}

.headingCell {
  font-size: var(--mediumText);
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

.normalCell {
  font-size: var(--mediumText);
  font-family: 'Inter', sans-serif;
}
